@use './variables' as *;

.alert-box{
 position: fixed;
 top: 5%;
 right: 5%;
 background-color: $danger-color;
 color: white;
 padding: 1% 3%;
 margin: auto;
 box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
 border-radius: 10px;
}

.success-box{
 position: fixed;
 right: 5%;
 top: 5%;
 background-color: $success-color;
 color: white;
 padding: 2% 5%;
 margin: auto;
 box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
 border-radius: 10px;
}