$primary-color: #5974fb; 
$danger-color: #fb5959;
$success-color: #45e6b0;

$dark-blue: #181d4e;
$lightgray: #efeff0;
$blue: #3B4BF0; 

:root {
 --primary-color: #5974fb;
 --danger-color: #fb5959;
 --success-color: #45e6b0;
 
 --dark-blue: #181d4e;
 --light-blue :#edf4ff;
 --white: #ffffff; 
 --lightgray: #efeff0; 
 --blue: #3B4BF0; 
}