.hidden-input {
    display: none;
}

.file-label {
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 200px;
    padding: 10px 20px;
    font-size: 14px;
}

p {
    font-size: .8rem;
}