.list-items {
    margin: 0% 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
}

.no-courses-message {
text-align: center;
padding: 10% 0; 
}

main {
display: flex;
flex-direction: column;
align-items: center;
overflow-x: hidden;
}