<main>
    <app-navbar />
    <app-alert-box id="error-alert" *ngIf="errorMessage" [errorMessage]="errorMessage" [messageStart]="'Could not enroll'" (closeEvent)="clearMessage()" id="error-alert"></app-alert-box>
    <app-alert-box id="success-alert" *ngIf="successMessage" [successMessage]="successMessage" (closeEvent)="clearMessage()" ></app-alert-box>
    <div id="card-component-container" class="list-items">
        <app-course-list *ngFor="let Course of courseList" [course]="Course"
            (enrollmentError)="handleError($event)" (enrollmentSuccess)="handleSuccess($event)" [cardId]="'enroll-' + Course.name"></app-course-list>
    </div>
    <div id="no-courses-message" *ngIf="noCourses" class="no-courses-message" >
        <h3 id="no-courses-title">Currently no courses available</h3>
        <p id="no-courses-subtitle">New courses are added regularly — check back again soon!</p>
    </div>
</main>