<main>
    <app-navbar />
    <app-alert-box *ngIf="errorMessage" [errorMessage]="errorMessage" (closeEvent)="clearMessage()"></app-alert-box>
    <app-alert-box *ngIf="successMessage" [successMessage]="successMessage" (closeEvent)="clearMessage()"></app-alert-box>
    <div class="list-items">
        <app-course-list *ngFor="let Course of courseList" [course]="Course"
            (enrollmentError)="handleError($event)" (enrollmentSuccess)="handleSuccess($event)"></app-course-list>
    </div>
</main>