p {
  font-size: 0.9rem;
  flex-grow: 1;
}

h2 {
  font-size: 1.5rem;
  max-width: 100%;
}

button {
  margin-top: 5%;
  text-align: center;
  width: 50%;
  align-items: center;
  border-radius: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  background-color: #edf4ff;
  margin: auto;
  border-radius: 20px;
  min-width: 300px;
  width: 20vw;
  max-width: 400px;
  height: 100%;
}

.course-data {
  padding: 1rem 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-bottom {
  display: flex;
  justify-content: center;
}

.course-image {

  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}