.list-item {
    background-color: #edf4ff;
    margin: auto;
    border-radius: 20px;
    max-width: 350px;
  }

  .course-data {
    padding: 1em 2em;
  }
 
  .course-detail {
    display: flex;
    align-items:center;
    gap: 1em;
  }

  .course-image{
     
    figure {
      margin: 0;
      padding: 0;
      aspect-ratio: 16 / 9;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      overflow: hidden;
    }

    img {
      object-fit: contain;
      width: 100%;
      transform-origin: center;
    }
}