<main>
    <app-navbar></app-navbar>
    <div class="summary-card">
        <div class="left-column">
            <h2 id="summary-heading">Review course</h2>
            <p id="summary-text">Please confirm everything is correct. <br> On the right is a preview of how your course will appear</p>
            <div class="actions">
                  <button id="button-approve" (click)="onApprove()" class="button-primary" >Approve</button>
                  <button id="button-edit" (click)="onEdit()" class="button-primary" >Edit</button>
                  <button id="button-discard" (click)="onCancel()" class="button-danger" >Discard</button>
            </div> 
        </div>
        <div>
             <div *ngIf="course" class="preview-card">
                <app-course-list [course]="course"/>
                
              </div>
              <div *ngIf="!course">
                <p id="no-course-data-text">No course data found.</p>
                <button id="no-course-button" routerLink="/create-course">Back to form</button>
              </div>
        </div>
    </div>
</main>
