<main>
    <app-navbar></app-navbar>
    <div class="summary-card">
        <div class="left-column">
            <h2 id="summary-heading">Review course</h2>
            <p id="summary-text">Please confirm everything is correct. <br> On the right is a preview of how your course will appear</p>
            <div class="actions">
                  <button (click)="onApprove()" class="button-primary" id="button-approve">Approve</button>
                  <button (click)="onEdit()" class="button-primary" id="button-edit">Edit</button>
                  <button (click)="onCancel()" class="button-danger" id="button-discard">Discard</button>
            </div> 
        </div>
        <div>
             <div *ngIf="course" class="preview-card">
                <app-course-list [course]="course"  />
                
              </div>
              <div *ngIf="!course">
                <p>No course data found.</p>
                <button routerLink="/create-course">Back to form</button>
              </div>
        </div>
    </div>
</main>
