.form-card {
   background-color: #edf4ff;
   border-radius: 10px;
   width: 100%;
   box-sizing: border-box;
   padding: 50px;
   margin-bottom: 5%;
 }

 .first-column, .second-column, .third-column {
  display: flex;
  flex: 1 1 33%;
  max-width: 33%;
  flex-direction: column;
  gap: 20px;
  overflow: hidden; 
 }

 
app-input {
  width: 100%;
  max-width: 100%;      
  display: block;
}

 form {
  display: flex;
  gap: 50px;
 }

 

 p {
  margin: 0;
  padding: 5px 0;
 }

 #submit-form {
  width: 100%;
 }